/*** SASS VARIABLES ***/
$font-nunito: 'Nunito Sans', sans-serif;
$font-muli: 'Muli', sans-serif;
$black: #2a2a2a;
$white: #fff;
$blue: #18326d;
$aqua-green: #00fe89;
$aqua-blue: #00ffff;
$orange: #fe8300;
$light-neutral: #efe5e0;

/*** ANIMATION ***/
@-webkit-keyframes gradientMove {
  0% {
    background-position:0% 50%;
  }
  50% {
    background-position:100% 51%;
  }
  100% {
    background-position:0% 50%;
  }
}
@-moz-keyframes gradientMove {
  0% {
    background-position:0% 50%;
  }
  50% {
    background-position:100% 51%;
  }
  100% {
    background-position:0% 50%;
  }
}
@keyframes gradientMove {
  0% {
    background-position:0% 50%;
  }
  50% {
    background-position:100% 51%;
  }
  100% {
    background-position:0% 50%;
  }
}

/*** GLOBAL CSS ***/



* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	margin: 0;
  padding: 0;
  font-family: $font-nunito;
	font-size: 100%;
	line-height: 1.4;
}
body {
	width: 100%;
	height: 100%;
	color: $black;
	overflow: hidden;
	overflow-y: auto;
}
a {
	color: $aqua-blue;
	text-decoration: none;
}
a:hover {
	color:$orange;
}
.elevator-button {
  display: none;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  width: 45px;
  height: 45px;
  color: transparent;
  font-size: 0;
  background: url(/images/elevator.svg) no-repeat center;
  background-size: contain;
}
.elevator-button:hover {
  color: transparent;
}
p {
	margin: 0 0 16px 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, ol {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
ul {
	list-style: none;
}
i {
	font-style: italic;
}
button {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}
.clearfix {
	zoom: 1;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	clear: both;
}
img, section, aside, article, footer {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
}
.white-text {
  color: $white;
}
.black-text {
  color: $black;
}
.aqua-green-text {
  color: $aqua-green;
}
.aqua-blue-text {
  color: $aqua-blue;
}
.orange-text {
  color: $orange;
}
h1 {
  font-family: $font-muli;
  font-size: 2rem;
}
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  nav {
    position: relative;
    width: 100%;
    button {
      position: absolute;
      top: 0;
      right: 8px;
      padding: 16px;
      width: 45px;
      height: 12px;
      font-size: 0;
      color: transparent;
      cursor: pointer;
      z-index: 10;
      -webkit-transition: top .25s ease;
      transition: top .25s ease; 
      span {
        position: absolute;
        bottom: 50%;
        right: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $white;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webikit-transform:translateX(50%, 50%);
        transform:translate(50%, 50%);
        -webkit-transition: left .25s ease, right .25s ease, width .25s ease, height .25s ease, background .25s linear;
        transition: left .25s ease, right .25s ease, width .25s ease, height .25s ease, background .25s linear;
        &.scrolled {
          background: $blue;
        }
        &.first {
          right: calc(100% - 5px);
        }
        &.second {
          &:after {
            content: "";
            opacity: 0;
            font-size: 0;
            -webkit-transition: opacity .3s ease-out, font-size .2s ease-out;
            transition: opacity .2s ease-out, font-size .2s ease-out;
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
          }
        }
        &.third {
          right: 5px;
        }
      }
      &.open {
        top: 10px;
        span.first, span.third {
          right: 50%;
          z-index: -1;
        }
        span.second {
          width: 25px;
          height: 25px;
          background: $blue;
          &:after {
            content: '\2716';
            display: block;
            position: absolute;
            right: 50%;
            bottom: 50%;
            opacity: 1;
            font-family: $font-muli;
            line-height: 1;
            font-size: 18px;
            font-weight: 700;
            color: $white;
            -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
          }
        }
      }
      &.open ~ .nav-list {
        top: 0;
        right: 0px;
        width: 100vw;
        height: 100vh;
        opacity: 1;
        border-radius: 0;
        background: $white;
        overflow: hidden;
        overflow-y: auto;
        -webkit-transform-origin: top right;
        transform-origin: top right;
        ul li a {
          color: $blue;
          font-weight: 700;
        }
      }
    }
  }
  .nav-list {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 10px;
    height: 10px;
    opacity: 0;
    transform: translate(0%,0%);
    border-radius: 50%;
    transform-origin: top right;
    overflow: hidden;
    -webkit-transition: width .2s ease-out, height .3s ease-out, border-radius .2s ease, opacity .25s ease;
    transition: width .2s ease-out, height .3s ease-out, border-radius .2s ease, opacity .25s ease;
    ul {
      position: relative;
      margin: 0 auto;
      width: 75%;
      max-width: 350px;
      padding: 3rem 0 2rem 0;
      text-align: center;
      li {
        margin: 0 0 1rem 0;
        padding: 0 0 1rem 0;
        font-family: $font-muli;
        border-bottom: 1px solid $light-neutral;
        text-transform: uppercase;
        a {
          color: transparent;
          -webkit-transition: color .1s linear;
          transition: color .1s linear;
        }
      }
    }
  }
}

.hero {
  display: block;
  position: relative;
  background: $blue;
  height: 100vh;
  font-family: $font-muli;
  font-weight: 700;
}
.hero-inter {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(20,129,193);
  background: -moz-linear-gradient(312deg, rgba(20,129,193,1) 0%, rgba(24,50,109,1) 100%);
  background: -webkit-linear-gradient(312deg, rgba(20,129,193,1) 0%, rgba(24,50,109,1) 100%);
  background: linear-gradient(312deg, rgba(20,129,193,1) 0%, rgba(24,50,109,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1481c1",endColorstr="#18326d",GradientType=1);
  background-size: 400% 400%;
  -webkit-animation: gradientMove 53s ease infinite;
  animation: gradientMove 53s ease infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  overflow: hidden;
  .inter-backg-ribs {
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-flex-direction: row;
    // -ms-flex-direction: row;
    // flex-direction: row;
    // -webkit-flex-wrap: nowrap;
    // -ms-flex-wrap: nowrap;
    // flex-wrap: nowrap;
    // -webkit-justify-content: space-between;
    // -ms-flex-pack: justify;
    // justify-content: space-between;
    position: absolute;
    right: 50%;
    bottom: 50%;
    width: 200%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    background: url(/images/herobg1.png) repeat;
    background-size: 50px;
    opacity: .18;
    // .rib {
    //   display: none;
    //   -webkit-order: 0;
    //   -ms-flex-order: 0;
    //   order: 0;
    //   -webkit-flex: 1 0 25px;
    //   -ms-flex: 1 0 25px;
    //   flex: 1 0 25px;
    //   align-self: stretch;
    //   position: relative;
    //   margin: 0 70px 0 0;
    //   background: $blue;
    //   -webkit-transform: skew(35deg);
    //   transform: skew(35deg);
    // }
  }
}
.hero-text {
  position: relative;
  width: 100%;
  padding: 1rem;
  letter-spacing: 1px;
  p {
    padding: 0;
    margin: 0;
  }
  .title {
    display: block;
    padding: 0;
    font-size: 2.25rem;
  }
  .slogan {
    font-size: 2rem;
    line-height: 1.3;
    span:nth-child(2) {
      font-size: 2.75rem;
    }
  }
}
.shortcuts {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  width: calc(100% - 2rem);
  a {
    display: block;
    padding: 0 0 .5rem 0;
    font-family: $font-nunito;
    letter-spacing: 1px;
  }
}
section:not(#hero) .section-inner {
  padding: 1rem;
}
